@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

/* Styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #f2f2f2;
}
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin:auto;
}
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.editor-container{
  width: 50%;
  margin: auto;
}
.editor-title{
  text-align: center;
}


/* Animations */

/* Typing animation */
.typing-demo {
    width: 22ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


/* Media Querys */

@media screen and (max-width: 800px) {
  .editor-container{
    width: 100%;
  }
  
}